@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
  }
}

@-moz-keyframes levitate {
  0% {
    -moz-transform: translateY(5px);
  }
  50% {
    -moz-transform: translateY(-5px);
  }
  100% {
    -moz-transform: translateY(5px);
  }
}

@-o-keyframes levitate {
  0% {
    -o-transform: translateY(5px);
  }
  50% {
    -o-transform: translateY(-5px);
  }
  100% {
    -o-transform: translateY(5px);
  }
}

@-ms-keyframes levitate {
  0% {
    -ms-transform: translateY(5px);
  }
  50% {
    -ms-transform: translateY(-5px);
  }
  100% {
    -ms-transform: translateY(5px);
  }
}

@keyframes levitate {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
