#boiler_room {
  position: absolute;
  width: 867px;
  height: 922px;
  cursor: move;
  background: url(../images/boiler_room.jpg) no-repeat;

  #sprite {
    background: url(../images/bathroom_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 198px;
    height: 144px;
    background: url(../images/bathroom_shadow.png) no-repeat;
    left: -40px;
    top: -57px;
  }

  #floor {
    position: absolute;
    left: 35px;
    bottom: -7px;
    width: 828px;
    height: 484px;
  }

  #furnace {
    width: 243px;
    height: 660px;
    position: absolute;
    left: 174px;
    top: -443px;
    z-index: 53;

    .text_cloud {
      position: absolute;
      left: 161px;
      top: 380px;
    }

    #body {
      width: 243px;
      height: 660px;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 2;
      .origin(122.5px, 660px);
      .rotate(-0.5deg);
    }

    .eyes {
      .isometric_right;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      position: absolute;
      left: 126px;
      top: 525px;
      z-index: 3;
      background: red;
      opacity: 0;
      box-shadow: 0 0 10px 5px red;
    }

    #left_eye {
      left: 126px;
      top: 525px;
    }

    #right_eye {
      left: 212px;
      top: 476px;
    }

    .mouth_bkg {
      .isometric_right;
      width: 80px;
      height: 120px;
      position: absolute;
      left: 140px;
      top: 515px;
    }

    .dark {
      background: #111;
    }

    .bright {
      background: red;
    }

    #mouth {
      .item(
				157px,
				515px,
				1,
				
				37px,
				108px,
				
				e(" url(../images/boiler_room_furnace_mouth.png) ")
			);
    }

    .mouth_glow {
      .isometric_right;
      width: 50px;
      height: 80px;
      border-radius: 5px;
      position: absolute;
      left: 154px;
      top: 542px;
      z-index: 4;
      background: rgba(255, 0, 0, 0.3);
      box-shadow: 0 0 40px 0 #ff0000;
    }

    .fire {
      opacity: 0;
    }

    #tin {
      .item(
				0,
				0,
				2,
				
				243px,
				660px,
				
				e(" url(../images/boiler_room_furnace_body.png) ")
			);
    }

    #legs {
      .item(
				12px,
				527px,
				1,
				
				223px,
				146px,
				
				e(" url(../images/boiler_room_furnace_legs.png) ")
			);
    }
  }

  #pile {
    .item(
			240px,
			314px,
			997,
			
			323px,
			175px,
			
			e(" url(../images/boiler_room_coal.png) ")
		);
  }

  #coal {
    .isometric_top;
    width: 150px;
    height: 195px;
    border-radius: 50px;
    position: absolute;
    left: 287px;
    top: 831px;
    z-index: 2000;
    cursor: pointer;
  }

  #windows {
    .item(
			61px,
			-32px,
			998,
			
			797px,
			441px,
			
			e(" url(../images/boiler_room_windows.png) ")
		);
  }

  #furnace_use {
    .isometric_right;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 313px;
    top: 503px;
    z-index: 2000;
    cursor: pointer;
  }

  #door {
    .isometric_left;
    .door(697px, 344px);
  }
}
