#corridor {
  position: absolute;
  width: 997px;
  height: 870px;
  cursor: move;
  background: url(../images/corridor.jpg) no-repeat;

  #sprite {
    background: url(../images/corridor_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 151px;
    height: 117px;
    background: url(../images/corridor_shadow.png) no-repeat;
    left: -38px;
    top: -28px;
  }

  #floor {
    width: 970px;
    height: 560px;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  #phone {
    .item(
			520px,
			79px,
			63,
			
			70px,
			161px,
			
			e(" url(../images/corridor_phone.png) ")
		);
  }

  #phone_mask {
    .item_mask(
			520px,
			79px,
			52,
			
			161px,
			
			e(" url(../images/corridor_phone.png) ")
		);
  }

  #phone_shadow {
    .item(
				447px,
				158px,
				1,

				193px,
				114px,

				e(" url(../images/corridor_phone_shadow.png) ")
			);
  }

  #phone_use {
    .isometric_top;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 487px;
    top: 400px;
    z-index: 2000;
    cursor: pointer;
  }

  #hidden_door {
    .isometric_left;
    .door(520px, -87px);
    height: 0;
    z-index: 1;
    overflow: hidden;

    div {
      -moz-transform-origin: top left;
      -webkit-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -moz-transform: scaleY(1.134) skew(-30deg) rotate(-30deg);
      -webkit-transform: scaleY(1.134) skew(-30deg) rotate(-30deg);
      -o-transform: scaleY(1.134) skew(-30deg) rotate(-30deg);
      -ms-transform: scaleY(1.134) skew(-30deg) rotate(-30deg);
      transform: scaleY(1.134) skew(-30deg) rotate(-30deg);

      width: 320px;
      height: 640px;
      background: url(../images/hidden_corridor.jpg) -13px -424px;
    }
  }

  #door_hidden_corridor {
    .isometric_left;
    .door(532px, 208px);
  }

  #door_toilet {
    .invisible_door(289px, 634px);
  }

  #door_bathroom {
    .invisible_door(531px, 774px);
  }

  #door_big_room {
    .invisible_door(810px, 755px, 0, -120px);
  }

  #handrail {
    .item(
			0,
			17px,
			990,
			
			172px,
			436px,
			
			e(" url(../images/corridor_handrail.png) ")
		);
  }

  #true_form {
    .item(
			279px,
			15px,
			31,
			
			195px,
			173px,
			
			e(" url(../images/corridor_true_form.png) ")
		);
    opacity: 0;
  }

  #true_form_2 {
    .item(
			257px,
			-15px,
			1,
			
			135px,
			107px,
			
			e(" url(../images/corridor_true_form_2.png) ")
		);
    opacity: 0;
  }

  #true_form_3 {
    .item(
			381px,
			-58px,
			1,
			
			40px,
			54px,
			
			e(" url(../images/corridor_true_form_3.png) ")
		);
    opacity: 0;
  }

  #door_room {
    .isometric_left;
    .door(707px, 316px);
  }

  #door_kitchen {
    .isometric_left;
    .door(363px, 117px);
  }

  #glow {
    width: 243px;
    height: 333px;
    position: absolute;
    left: 62px;
    top: -202px;
    z-index: 999;
    background: url(../images/corridor_glow.png) no-repeat;
  }

  .message {
    font: 20px/22px "Neuton", georgia, serif;
    color: #fefefe;
    position: absolute;
    z-index: 2000;
  }

  #message_1 {
    left: -50px;
    top: 663px;
  }

  #message_2 {
    left: -8px;
    top: 742px;
  }

  #message_3 {
    left: 115px;
    top: 804px;
  }

  #window {
    .isometric_right;
    width: 110px;
    height: 105px;
    position: absolute;
    left: 82px;
    top: 154px;
    z-index: 2000;
    cursor: pointer;
  }

  #stairs {
    position: absolute;
    left: 148px;
    top: 558px;
    z-index: 2000;
    cursor: pointer;

    #stair_1 {
      width: 50px;
      height: 4 * 40px;
      position: absolute;
      left: 0;
      top: 0;
      .isometric_top;
    }

    #stair_2 {
      width: 4 * 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      .isometric_left;
    }

    #stair_3 {
      width: 50px;
      height: 160px;
      position: absolute;
      left: -37px;
      top: 67px;
      .isometric_top;
    }

    #stair_4 {
      width: 4 * 40px;
      height: 50px;
      position: absolute;
      left: -32px;
      top: 64px;
      .isometric_left;
    }
  }
}
