#exit {
  position: absolute;
  width: 353px;
  height: 520px;
  cursor: move;
  background: url(../images/exit.png) no-repeat;

  #sprite {
    background: url(../images/picture_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 122px;
    height: 102px;
    background: url(../images/hidden_corridor_shadow.png) no-repeat;
    left: -38px;
    top: -28px;
    opacity: 0.5;
  }

  #floor {
    left: -32px;
    top: 200px;
    position: absolute;
  }

  #use_exit {
    .isometric_right;
    .door(6px, 61px, 120px, 241px);
  }

  #use_back {
    .isometric_left;
    .door(248px, 1px, 120px, 241px);
  }
}

#exit_sky {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 185, 232, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 185, 232, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 185, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 185, 232, 1) 100%
  );
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 185, 232, 1) 100%
  );
}
