@font-face {
  font-family: "SilkscreenNormal";
  src: url("../fonts/slkscr-webfont.woff") format("woff"),
    url("../fonts/slkscr-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#kitchen_true {
  position: absolute;
  width: 1049px;
  height: 917px;
  cursor: move;
  background: url(../images/kitchen_true.jpg) no-repeat;

  #sprite {
    background: url(../images/room_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 198px;
    height: 144px;
    background: url(../images/room_shadow.png) no-repeat;
    left: -126px;
    top: -27px;
  }

  #floor {
    position: absolute;
    left: 21px;
    bottom: 29px;
    width: 970px;
    height: 560px;
  }

  #table {
    .item(
			598px,
			110px,
			166,
			
			193px,
			272px,
			
			e(" url(../images/kitchen_true_table.png) ")
		);

    .text_cloud {
      left: 40px;
      bottom: 270px;
    }
  }

  #table_mask {
    .item(
			485px,
			110px,
			134,
			
			113px,
			272px,
			
			e(" url(../images/kitchen_true_table.png) ")
		);
    background-position: 0 0;
  }

  #eye {
    width: 29px;
    height: 23px;
    position: absolute;
    right: 304px;
    top: 193px;
    z-index: 166;
    background: url(../images/kitchen_true_eye.png) no-repeat;
  }

  #branches {
    width: 534px;
    height: 595px;
    position: absolute;
    right: 207px;
    top: -52px;
    z-index: 900;
    background: url(../images/kitchen_true_branches.png) no-repeat;
  }

  #fridge {
    .item(
			810px,
			-57px,
			135,
			171px,
			303px,
			e(" url(../images/kitchen_true_fridge.png) ")
		);
  }

  #fridge_use {
    .isometric_left();
    width: 100px;
    height: 210px;
    position: absolute;
    right: 98px;
    top: 306px;
    z-index: 2000;
    cursor: pointer;
  }

  #light {
    width: 660px;
    height: 467px;
    position: absolute;
    top: -228px;
    right: 50px;
    z-index: 800;
    opacity: 0;
    background: url(../images/kitchen_true_light.png) no-repeat right;
  }

  #the_green_guy {
    width: 200px;
    height: 120px;
    position: absolute;
    right: 342px;
    bottom: 212px;
    z-index: 1000;
    cursor: help;
    .isometric_top;
  }
}

#faux-player {
  width: 310px;
  height: 310px;
  position: absolute;
  top: -103px;
  right: 195px;
  z-index: 100;
  opacity: 0;
  background: url(../images/kitchen_true_player_go.png) no-repeat 0 0;

  &.levitate {
    -webkit-animation: levitate 1s linear;
    -moz-animation: levitate 1s linear;
    -ms-animation: levitate 1s linear;
    -o-animation: levitate 1s linear;
    animation: levitate 1s linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
