@import "reset.css";
@import "intro.less";
@import "mixins.less";
@import "animations.less";
@import "picker.less";

@import "room.less";
@import "aquarium.less";
@import "picture.less";
@import "picture_snow.less";
@import "corridor.less";
@import "void.less";
@import "hidden_corridor.less";
@import "kitchen.less";
@import "kitchen_true.less";
@import "toilet.less";
@import "bathroom.less";
@import "big_room.less";
@import "boiler_room.less";
@import "fridge.less";
@import "outside_view.less";
@import "cabin.less";
@import "train.less";
@import "last_corridor.less";
@import "exit.less";

@import "view.less";

@import "keypad.less";

::selection {
  background: transparent;
  color: #fff;
}

::-moz-selection {
  background: transparent;
  color: #fff;
}

::-webkit-selection {
  background: transparent;
  color: #fff;
}

html,
body,
#black,
#no_click,
#the_game,
#white,
#overlay,
.view,
.view > div {
  width: 100%;
  height: 100%;
}

#old_browser {
  margin-top: 200px;

  em {
    font-style: italic;
  }

  p {
    font: 17px/20px "Neuton", georgia, serif;
    text-align: center;
  }

  p + p {
    font: 14px/20px "Neuton", georgia, serif;
  }

  .title {
    color: #168ad3;
  }

  strong {
    color: #ff3927;
    font-weight: normal;
  }

  ul {
    height: 110px;
    padding-top: 20px;
    text-align: center;
  }

  li {
    padding: 0 20px;
    position: relative;
    display: inline;
  }

  img {
    vertical-align: top;
  }
}

#dialogue_box {
  font: 20px/30px "Neuton", georgia, serif;
  width: 320px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-left: -160px;
  position: fixed;
  left: 50%;
  bottom: 40px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  &.big {
    width: 640px;
    margin-left: -320px;
  }
}

#dialogue_box_text {
  color: #d3d3d3;
  margin-bottom: 20px;
}

#dialogue_box_character {
  color: #eaea2a;
}

#dialogue_box_image {
  position: relative;
  z-index: 9999;
  margin: 40px auto 0;
  display: block;
  height: 60%;
}

#options {
  color: #fefefe;
}

#options li {
  padding-left: 20px;
  background: url(../images/li.gif) no-repeat 0 12px;
  cursor: pointer;
  .transition("color", 0.5s, linear);
  &:hover {
    color: #bce9f4;
  }
}

#no_click {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8888;
  background: rgba(0, 0, 0, 0.2);
}

#white,
#black {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 9998;
}

#white {
  background: #fff;
}

#black {
  background: #000;
}

.tile {
  .isometric_tile;
  border-radius: 2px;
  outline-color: #fff;
  cursor: crosshair;
  z-index: 999;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
    .transition(all, 0.2s, ease);
  }
  &:active {
    box-shadow: -20px 0 5px rgba(255, 255, 255, 0.5),
      20px 0 5px rgba(255, 255, 255, 0.5), 0 -12px 5px rgba(255, 255, 255, 0.5),
      0 12px 5px rgba(255, 255, 255, 0.5);
    .transition(all, 0.2s, ease);
  }
  &.transparency:hover {
    opacity: 0.3;
  }
  &.collision:hover {
    cursor: not-allowed;
    background: none;
  }
  &.collision:active {
    box-shadow: 0 0 0 transparent;
    background: none;
  }
}

.transparent {
  .transition(opacity, 0.2s, linear);
}

.button {
  width: 120px;
  height: 32px;
  position: absolute;
  z-index: 9999;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8) url(../images/menu.png) no-repeat;
  .transition(opacity, 0.2s, linear);
  &:hover {
    opacity: 1;
  }
}

#tooltip {
  font: 20px/24px "Neuton", georgia, serif;
  color: #fefefe;
  width: 100px;
  padding: 10px;
  position: absolute;
  z-index: 3000;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  &.right {
    .isometric_right;
  }
  &.left {
    .isometric_left;
  }
}

#teleport,
#teleport div {
  border: 1px solid #fefefe;
  border-radius: 100%;
  position: absolute;
}

#teleport div {
  left: 50%;
  top: 50%;
}

#teleport {
  .isometric_top();
  width: 140px;
  height: 140px;
  background: none transparent;
  div {
    width: 120px;
    height: 120px;
    margin: -61px 0 0 -61px;
    div {
      width: 100px;
      height: 100px;
      margin: -51px 0 0 -51px;
      div {
        width: 80px;
        height: 80px;
        margin: -41px 0 0 -41px;
        div {
          width: 60px;
          height: 60px;
          margin: -31px 0 0 -31px;
          div {
            width: 40px;
            height: 40px;
            margin: -21px 0 0 -21px;
            .transition (all, 0.5s, ease-in-out);
          }
        }
      }
    }
  }
}

#teleport .core {
  background: #76b6e3;
  border: 0 none;
  padding: 1px;
  opacity: 0.6;
  box-shadow: 0 0 10px #76b6e3;
}

#lightbox {
  font: 20px/30px "Neuton", georgia, serif;
  text-align: center;
  color: rgb(254, 254, 254);
  width: 100%;
  height: 95%;
  padding-top: 5%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  img {
    margin: 40px auto 0;
    height: 60%;
    display: block;
  }
}

.close {
  .button;
  height: 64px;
  top: 10px;
  right: 10px;
  background-position: -360px 0;
}

#the_game .opacity {
  opacity: 0.7;
  .transition(opacity,0.1s);
  &:hover {
    opacity: 1;
  }
}

.dim {
  opacity: 0.3 !important;
  &:hover {
    opacity: 1 !important;
  }
}

#switch_sound {
  .button;
  top: 10px;
  right: 140px;
  &.on {
    background-position: -240px 0;
  }
  &.off {
    background-position: -240px -32px;
  }
}

#items {
  font: 20px/30px "Neuton", georgia, serif;
  text-align: center;
  color: rgb(254, 254, 254);
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #555;
  position: fixed;
  left: 0;
  top: -100px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);

  #button {
    .button;
    margin: 0 0 0 -60px;
    position: absolute;
    left: 50%;
    top: 111px;
    background-position: -120px 0;
    &.up {
      background-position: -120px -32px;
    }
  }

  img {
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 0 15px 0;
    position: relative;
    top: 10px;
    vertical-align: top;
    .transition(height,0.2s);
    .transition(all,0.2s);
    &:hover {
      .scale(1.2);
    }
  }
}

#items_text {
  position: relative;
  top: 30px;
}

#wrap {
  width: 1024px;
  margin-left: -512px;
  position: fixed;
  left: 50%;
  top: 0;
}

#settings {
  .button;
  left: 10px;
  top: 10px;
  background-position: 0 0;
  &.on {
    background-position: 0 -32px;
  }

  ul {
    color: #e8542e;
    font: 12px/18px arial, sans-serif;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 42px;
    background: rgba(0, 0, 0, 0.8);
  }

  li {
    margin: 0 -10px;
    padding: 0 10px;
    .transition(all, 0.3s, linear);
    &:hover {
      color: #168ad3;
    }
  }

  li + li {
    margin-top: 8px;
    padding-top: 10px;
    border-top: 1px solid #e8542e;
  }
}

#author {
  color: #fff;
  text-transform: lowercase;
  font: 20px/40px "Neuton", georgia, serif;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);

  &:hover p {
    display: block;
  }

  .btn {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
    cursor: help;
    background: #045e78;

    &:hover {
      background: #00d0f5;
    }
  }

  p {
    line-height: 20px;
    padding-left: 20px;
    border-left: 1px solid #fefefe;
    margin: 10px 0 0 20px;
    float: left;
    display: none;

    &:first-of-type {
      border: 0 none;
      margin-left: 0;
    }
  }

  a {
    color: #ff3927;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#player {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  position: absolute;
  top: 10px;
  left: 10px;

  #sprite {
    width: 310px;
    height: 310px;
    position: absolute;
    left: -137px;
    bottom: -26px;
    z-index: 999;
  }

  #shadow {
    position: absolute;
    z-index: 1;
  }

  .text_cloud {
    left: 20px;
    bottom: 275px;
  }
}

.text_cloud {
  font: 20px/30px "Neuton", georgia, serif;
  color: #fefefe;
  max-width: 240px;
  min-width: 100px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  position: absolute;
  z-index: 3000;
  background: #000;

  div {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    bottom: -10px;
    background: url("../images/textcloud_tip.png") no-repeat;
  }
}

#flash {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  margin: -8px 0 0 -8px;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  opacity: 0;
}

#preloader {
  width: 320px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #21bef3;
  margin: -20px 0 0 -160px;
  position: fixed;
  left: 50%;
  top: 50%;
  overflow: hidden;
  background: url(../images/preload_bar.png) no-repeat;
}

#preloader::before {
  content: "Loading...";
  color: #fefefe;
  font: 20px/40px "Neuton", georgia, serif;
  width: 320px;
  height: 40px;
  border-radius: 2px;
  margin: -60px 0 0 -160px;
  text-align: center;
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
}

#indicator {
  color: #fefefe;
  text-align: right;
  font: 32px/32px "Neuton", georgia, serif;
  width: 76px;
  height: 32px;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 20px;
  top: 10%;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.7) url(../images/menu.png) -510px 50% no-repeat;
}

#preload_1 {
  background: url(../images/aquarium_fish_big.png);
}

#preload_2 {
  background: url(../images/aquarium_key_big.png);
}

#preload_3 {
  background: url(../images/boiler_room_coal_big.png);
}

#preload_4 {
  background: url(../images/picture_snow_twig_big.png);
}

#preload_5 {
  background: url(../images/room_note_big.png);
}

#resume_screen {
  width: 200px;
  margin: -124px 0 0 -100px;
  position: fixed;
  left: 50%;
  top: 50%;

  p {
    color: #fff;
    font: 24px/64px "Neuton", georgia, serif;
    margin: 20px 0;
    border-radius: 64px;
    cursor: pointer;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    .transition(all, 0.5s);

    &:hover {
      color: #168ad3;
      background: rgba(255, 255, 255, 1);
    }
  }

  .icon {
    margin-right: 10px;
  }

  .text,
  .icon {
    float: left;
    vertical-align: middle;
  }
}

.resume_icons {
  width: 64px;
  height: 64px;
  display: inline-block;
  background: url(../images/resume_screen.png);
}

#resume_screen_resume {
  .resume_icons;
}

#resume_screen_restart {
  .resume_icons;
  background-position: 0 -64px;
}
