<div id="aquarium">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="fish"></div>

		<div id="gate_left" class="transparent"></div>
		<div id="gate_right" class="transparent"></div>

		<div id="rock_1" class="transparent"></div>
		<div id="rock_2" class="transparent"></div>
		<div id="rock_3" class="transparent"></div>
		<div id="rock_4" class="transparent"></div>
		<div id="rock_4_mask" class="transparent"></div>
		<div id="rock_5" class="transparent"></div>
	</div>

	<div id="key" data-tooltip="La clef !" data-info="La clef dorée"></div>

	<div id="teleport">
		<div>
			<div>
				<div>
					<div>
						<div class="core">
							<!-- -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="exit" data-tooltip="Retour à la chambre"></div>
</div>