<div id="boiler_room">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="furnace" class="transparent">
			<div id="legs"></div>
			<div id="body">
				<div class="mouth_bkg dark"></div>
				<div class="mouth_bkg bright fire"></div>
				<div id="mouth"></div>
				<div class="mouth_glow fire"></div>
				<div id="tin"></div>
				<div id="left_eye" class="eyes fire"></div>
				<div id="right_eye" class="eyes fire"></div>
			</div>
		</div>

		<div id="pile" class="transparent"></div>

		<div id="windows"></div>
	</div>

	<div id="coal" data-tooltip="Un charbon" data-info="Un charbon."></div>
	<div id="furnace_use" data-tooltip="La fournaise"></div>
	<div id="door" data-tooltip="Aller aux toilettes"></div>
</div>