<div id="hidden_corridor">
	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="spot"></div>
		<div id="peephole"></div>

		<div id="discharge">
			<div></div>
		</div>

		<div id="switch" class="transparent"></div>

	</div>

	<div id="switch_use" data-tooltip="Utilisez l'interrupteur"></div>

	<div id="door_corridor" class="opacity" data-tooltip="Allez dans le couloir"></div>

	<div id="peephole_use" class="opacity" data-tooltip="Jetez un oeil à l'extérieur"></div>

</div>