<div id="intro">

	<div id="head_back"></div>
	<div id="house"></div>
	<div id="head_hole"></div>

	<h1 id="logo"><img src="images/intro_logo.png" alt="The House" /></h1>

	<p id="enter">Entrer</p>

</div>