<div id="kitchen">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="glow"></div>

		<div id="cupboard" class="transparent"></div>
		<div id="cupboard_mask" class="transparent"></div>

		<div id="table" class="transparent"></div>
		<div id="table_mask" class="transparent"></div>

		<div id="chair" class="transparent"></div>

		<div id="fridge" class="transparent"></div>

	</div>

	<div id="door_kitchen" class="opacity" data-tooltip="Allez dans le couloir"></div>

	<div id="window" data-tooltip="Regarde par la fenêtre"></div>

	<div id="kitchen_kitchen_true"></div>

	<div id="kitchen_use_1"></div>
	<div id="kitchen_use_2"></div>
	<div id="kitchen_use_3"></div>

</div>