<div id="last_corridor">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="led_1">
			<div class="wire_1"></div>
			<div class="wire_2"></div>
			<div class="wire_3"></div>
			<div class="wire_4"></div>
		</div>
		<div id="led_2">
			<div class="wire_1"></div>
			<div class="wire_2"></div>
			<div class="wire_3"></div>
			<div class="wire_4"></div>
		</div>
		<div id="led_3">
			<div class="wire_1"></div>
			<div class="wire_2"></div>
			<div class="wire_3"></div>
			<div class="wire_4"></div>
		</div>

		<div id="door_train" data-tooltip="Retour à la plateforme"></div>

	</div>

	<div id="fluorescent_1" class="on"></div>
	<div id="fluorescent_2"></div>
	<div id="fluorescent_3"></div>
	<div id="fluorescent_4"></div>

	<div id="use_led_1" data-tooltip="Examiner le panneau"></div>
	<div id="use_led_2" data-tooltip="Examiner le panneau"></div>
	<div id="use_led_3" data-tooltip="Examiner le panneau"></div>

	<div id="dark_player" data-tooltip="Obscurité..."></div>

	<div id="darkness">
		<div class="wall" data-tooltip="Obscurité..."></div>
		<div class="floor" data-tooltip="Obscurité..."></div>
		<div class="text"></div>
	</div>

</div>

<div id="lightbox_led">
	<div class="close"></div>
	<div id="led_panel">
		<table id="led_panel_body">
			<tr class="row-1">
				<td class="cell col-1 upper-left"></td>
				<td class="cell col-2"></td>
				<td class="cell col-3"></td>
				<td class="cell col-4"></td>
				<td class="cell col-5 upper-right"></td>
			</tr>
			<tr class="row-2">
				<td class="cell col-1"></td>
				<td class="cell col-2"></td>
				<td class="cell col-3"></td>
				<td class="cell col-4"></td>
				<td class="cell col-5"></td>
			</tr>
			<tr class="row-3">
				<td class="cell col-1"></td>
				<td class="cell col-2"></td>
				<td class="cell col-3"></td>
				<td class="cell col-4"></td>
				<td class="cell col-5"></td>
			</tr>
			<tr class="row-4">
				<td class="cell col-1"></td>
				<td class="cell col-2"></td>
				<td class="cell col-3"></td>
				<td class="cell col-4"></td>
				<td class="cell col-5"></td>
			</tr>
			<tr class="row-5">
				<td class="cell col-1 lower-left"></td>
				<td class="cell col-2"></td>
				<td class="cell col-3"></td>
				<td class="cell col-4"></td>
				<td class="cell col-5 lower-right"></td>
			</tr>
		</table>

		<div id="led_reference">
			<div id="led_texture"></div>

			<div id="led-r-u-l" class="table_wrapper">
				<table>
					<tr class="row-1">
						<td class="cell col-1 upper-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 upper-right"></td>
					</tr>
					<tr class="row-2">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-3">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-4">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-5">
						<td class="cell col-1 lower-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 lower-right"></td>
					</tr>
				</table>
			</div>

			<div id="led-r-u-r" class="table_wrapper">
				<table>
					<tr class="row-1">
						<td class="cell col-1 upper-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 upper-right"></td>
					</tr>
					<tr class="row-2">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-3">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-4">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-5">
						<td class="cell col-1 lower-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 lower-right"></td>
					</tr>
				</table>
			</div>

			<div id="led-r-l-l" class="table_wrapper">
				<table>
					<tr class="row-1">
						<td class="cell col-1 upper-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 upper-right"></td>
					</tr>
					<tr class="row-2">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-3">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-4">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-5">
						<td class="cell col-1 lower-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 lower-right"></td>
					</tr>
				</table>
			</div>

			<div id="led-r-l-r" class="table_wrapper">
				<table>
					<tr class="row-1">
						<td class="cell col-1 upper-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 upper-right"></td>
					</tr>
					<tr class="row-2">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-3">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-4">
						<td class="cell col-1"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5"></td>
					</tr>
					<tr class="row-5">
						<td class="cell col-1 lower-left"></td>
						<td class="cell col-2"></td>
						<td class="cell col-3"></td>
						<td class="cell col-4"></td>
						<td class="cell col-5 lower-right"></td>
					</tr>
				</table>
			</div>

		</div>

		<div id="led_clear"></div>
	</div>
</div>