<div id="old_browser">
  <article>
    <p>On dirait que votre navigateur est un peu <em>trop vieux</em> pour exécuter ce jeu. ;)</p>
    <p>Afin de jouer à <strong class="title">"The House"</strong>, vous devez <strong>installer l'un des plus modernes
        navigateurs</strong>.</p>

    <ul>
      <li><a href="http://www.google.com/chrome/intl/en/make/download.html?brand=CHKZ" target="_blank"
          title="Chrome"><img src="images/browser_chrome.png" alt="Chrome" /></a></li>
      <li><a href="http://www.mozilla.com/en-US/firefox/new/" target="_blank" title="Mozilla Firefox"><img
            src="images/browser_firefox.png" alt="Firefox" /></a></li>
      <li><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" target="_blank"
          title="Internet Explorer 9"><img src="images/browser_ie.png" alt="Internet Explorer 9" /></a></li>
      <li><a href="http://www.opera.com/" target="_blank" title="Opera"><img src="images/browser_opera.png"
            alt="Opera" /></a></li>
    </ul>
  </article>
</div>