<div id="picture_snow">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="twig" data-tooltip="Une brindille" data-info="Une brindille de... L'image."></div>

		<div id="teleport">
			<div>
				<div>
					<div>
						<div>
							<div class="core">
								<!-- -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="exit" data-tooltip="Retour à la chambre"></div>
	</div>
</div>