<div id="room">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="glow"></div>

		<div id="shelf" class="transparent"></div>
		<div id="bubbles"></div>
		<div id="aquarium" class="transparent"></div>
		<div id="shelf_mask" class="transparent"></div>

		<div id="bed" class="transparent"></div>
		<div id="bed_mask" class="transparent"></div>

		<div id="chair" class="transparent"></div>

		<div id="desk" class="transparent"></div>
		<div id="desk_mask" class="transparent"></div>
		<div id="note" data-tooltip="Feuille de papier"
			data-info="Une sorte d'illustration. Intéressant... Peut-être utile."></div>

		<div id="plant" class="transparent small"></div>

		<div id="picture_winter" data-tooltip="L'image"></div>

	</div>

	<div id="window" data-tooltip="Regarde par la fenêtre"></div>

	<div id="picture" data-tooltip="L'image"></div>

	<div id="plant_check" data-tooltip="Une plante"></div>

	<div id="water" data-tooltip="L'aquarium"></div>

	<div id="door_exit" class="opacity" data-tooltip="Allez dans le couloir"></div>

</div>