<div id="toilet">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="cord" class="transparent"></div>
		<div id="wc" class="transparent"></div>

	</div>

	<div id="dim"></div>

	<div id="cord_use" data-tooltip="Rincez-le !"></div>

	<div id="door_corridor" data-tooltip="Allez dans le couloir"></div>

</div>