<div id="train">

	<div id="train_container" class="levitate">
		<div id="train_interior"></div>
		<div id="ticket_inspector">
			<div id="ticket_shadow"></div>
			<div id="ticket_sprite"></div>
		</div>
		<div id="faux_player">
			<div class="shadow"></div>
		</div>
		<div id="train_door"></div>
		<div id="train_body"></div>
		<div id="train_engine">
			<div id="ring_1"></div>
			<div id="ring_2" class="rotate"></div>
			<div id="ring_3"></div>
		</div>
		<div id="train_glow"></div>
	</div>

	<div id="train_platform"></div>

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="door_dark_corridor" data-tooltip="…" class="opacity"></div>

	</div>

	<div id="use_train_door" data-tooltip="Entrez dans le train"></div>

</div>