<div id="bathroom">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="window"></div>

		<div id="washbasin_mask" class="transparent"></div>
		<div id="washbasin" class="transparent"></div>

		<div id="bathtube" class="transparent"></div>

		<div id="faux_player"></div>

	</div>

	<div id="window_use" class="opacity" data-tooltip="Regarde par la fenêtre"></div>

	<div id="mirror" data-tooltip="Regarde dans le miroir"></div>

	<div id="curtain" class="transparent"></div>
	<div id="curtain_folded" class="transparent"></div>

	<div id="door_corridor" data-tooltip="Allez dans le couloir"></div>

</div>